workflows/Config_C_VP_GlobalEdge_QA_RAG.json
{
  "name": "Config_C_VP_GlobalEdge_QA_RAG",
  "nodes": [
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        432
      ],
      "id": "b41b235b-bfb4-4e35-b992-f82873c8442f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JklUB02AKX2A1PiF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "You are the GlobalEdge Financial Intelligence Assistant.\n\nAnswer questions using only the retrieved context provided below.\n\nContext:\n{context}\n\nInstructions:\n1. Use only the retrieved context to answer the question.\n2. Do not make up facts, assumptions, or conclusions.\n3. If the answer cannot be found in the retrieved context, clearly state that the information is not available in the knowledge base.\n4. Summarize information accurately and concisely.\n5. Highlight important risks, uncertainties, and assumptions when relevant.\n6. For financial or investment-related questions, provide objective analysis based on retrieved evidence, but do not provide personalized investment advice.\n7. Cite supporting evidence from the retrieved context whenever possible.\n\nProvide:\n- Answer\n- Evidence\n- Confidence Level\n\nUse plain text formatting.\nUse actual line breaks.\nDo not output escaped characters such as \\n.\nDo not output JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        -352,
        -176
      ],
      "id": "fd68b3d3-4699-4702-b084-dfb890f438ee",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -816,
        -112
      ],
      "id": "4abbe8ea-42cd-472f-9cef-8600545dfd3e",
      "name": "Chat Trigger",
      "webhookId": "06743e52-ab81-4f78-99b3-08af4ea18c36"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1500,
          "temperature": 0,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -480,
        32
      ],
      "id": "0ee3b5c9-5140-40e6-91e3-ce51cef06e49",
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JklUB02AKX2A1PiF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "global-edge",
          "mode": "list",
          "cachedResultName": "global-edge"
        },
        "options": {
          "pineconeNamespace": "globaledge-rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        240
      ],
      "id": "78e5480d-551a-482b-a89d-ad1327a30982",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "LpmqkNCBsNd8irdn",
          "name": "PineconeApi account 1151"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "global-edge",
          "mode": "list",
          "cachedResultName": "global-edge"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 8,
        "options": {
          "pineconeNamespace": "globaledge-rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -656,
        224
      ],
      "id": "1862f3b5-1561-4381-8574-a9b36069b8e9",
      "name": "Pinecone Search (Get Many)",
      "credentials": {
        "pineconeApi": {
          "id": "LpmqkNCBsNd8irdn",
          "name": "PineconeApi account 1151"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        -208
      ],
      "id": "c57430d2-2653-4304-8876-4486a46ac92a",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -576,
        432
      ],
      "id": "c90f685b-c2d1-4de0-9df2-46915e730de2",
      "name": "OpenAI Embeddings (Search)",
      "credentials": {
        "openAiApi": {
          "id": "JklUB02AKX2A1PiF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an expert evaluator for a RAG-based financial intelligence assistant.\n\nEvaluate the generated answer using only the retrieved context.\n\nScore each metric from 1 to 10:\n\n1. Relevance\n2. Groundedness\n3. Accuracy\n4. Completeness\n5. Risk Awareness\n\nReturn the evaluation in this exact format:\n\nRelevance: <score>\nGroundedness: <score>\nAccuracy: <score>\nCompleteness: <score>\nRisk Awareness: <score>\nOverall Score: <average score>\nVerdict: Pass / Needs Improvement\nComments: <brief explanation>\n\n===================================\nAdditional Evaluation Guidelines\n\n• Evaluate the response based solely on the retrieved context and factual correctness.\n\n• Reward responses that accurately synthesize information from multiple retrieved sources into a coherent and well-structured answer.\n\n• Do not penalize a response for explicitly acknowledging uncertainty or limitations when the retrieved context does not provide sufficient evidence. Such responses should receive higher Groundedness and Accuracy scores than responses that speculate.\n\n• Award higher Completeness scores when the response addresses all major aspects of the user's question, including supporting evidence, assumptions, limitations, and relevant risks present in the retrieved context.\n\n• Award higher Risk Awareness scores when the response appropriately identifies investment risks, uncertainties, assumptions, market volatility, regulatory concerns, or limitations supported by the retrieved evidence.\n\n• Consider balanced discussion of both positive and negative evidence as an indicator of higher-quality financial reasoning.\n\n• Do not reduce Accuracy simply because the response avoids making explicit investment recommendations. Evaluate factual correctness, grounding, and responsible communication instead.\n\n• Evaluate the response based on information quality, factual accuracy, grounding, completeness, and responsible reasoning—not on response length. Concise but complete responses should receive full credit.\n\nBefore assigning the final verdict, verify that the response:\n- Answers all parts of the user's question.\n- Uses only retrieved evidence.\n- Avoids unsupported claims or hallucinations.\n- Clearly communicates assumptions and limitations when appropriate.\n- Presents relevant financial risks and uncertainties.\n- Provides a balanced conclusion when both positive and negative evidence exist.\n\n"
            },
            {
              "content": "=User Question:\n{{ $('Chat Trigger').item.json.chatInput }}\n\nGenerated Answer:\n{{ $('Question and Answer Chain').item.json.response }}\n\nRetrieved Context:\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1500,
          "temperature": 0,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        448,
        -208
      ],
      "id": "0f0b7815-5971-40a8-a1f9-0a8fcde591a8",
      "name": "LLM-as-a-Judge Evaluation",
      "credentials": {
        "openAiApi": {
          "id": "JklUB02AKX2A1PiF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ac27eef-df4f-4748-8acd-52499e52e68f",
              "name": "relevance",
              "value": "={{ $json.output[0].content[0].text.match(/Relevance:\\s*([0-9.]+)/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "402270a6-f895-4d66-832a-3d4108a7c22c",
              "name": "groundedness",
              "value": "={{ $json.output[0].content[0].text.match(/Groundedness:\\s*([0-9.]+)/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "a643cfcd-0d20-40fc-9a58-a6d51a12692a",
              "name": "accuracy",
              "value": "={{ $json.output[0].content[0].text.match(/Accuracy:\\s*([0-9.]+)/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "508ab522-9d2c-45b6-a5ef-4c6c74318890",
              "name": "completeness",
              "value": "={{ $json.output[0].content[0].text.match(/Completeness:\\s*([0-9.]+)/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "d6acee3a-7d46-4ed8-bae3-d9415e565b6b",
              "name": "risk_awareness",
              "value": "={{ $json.output[0].content[0].text.match(/Risk Awareness:\\s*([0-9.]+)/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "5ad4c788-e20d-4acb-8ad0-c2a35bb3647d",
              "name": "overall_score",
              "value": "={{ $json.output[0].content[0].text.match(/Overall Score:\\s*([0-9.]+)/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "3d8d1b10-51d4-44c2-801c-850bbcd3b3e3",
              "name": "verdict",
              "value": "={{ $json.output[0].content[0].text.match(/Verdict:\\s*([A-Za-z ]+)/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "73383db1-640c-4a19-b4d7-e6ab685efc86",
              "name": "comments",
              "value": "={{ $json.output[0].content[0].text.match(/Comments:\\s*([\\s\\S]*)/)?.[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -208
      ],
      "id": "f32905ba-eee3-4651-80a4-e466ee05247e",
      "name": "Extract Evaluation Metrics"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "JeWUbvRie18Kgq7S",
          "mode": "list",
          "cachedResultName": "RAG_Evaluation_Results",
          "cachedResultUrl": "/projects/9d520e26-a78f-4b33-a7ca-964b49b2bc8d/datatables/JeWUbvRie18Kgq7S"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "relevance": "={{ $json.relevance }}",
            "groundedness": "={{ $json.groundedness }}",
            "accuracy": "={{ $json.accuracy }}",
            "completeness": "={{ $json.completeness }}",
            "risk_awareness": "={{ $json.risk_awareness }}",
            "overall_score": "={{ $json.overall_score }}",
            "verdict": "={{ $json.verdict }}",
            "comments": "={{ $json.comments }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "relevance",
              "displayName": "relevance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "groundedness",
              "displayName": "groundedness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "accuracy",
              "displayName": "accuracy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completeness",
              "displayName": "completeness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "risk_awareness",
              "displayName": "risk_awareness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "overall_score",
              "displayName": "overall_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1008,
        -208
      ],
      "id": "8cab0d8c-040e-47f3-9e55-fdf95c3c20bc",
      "name": "Insert row"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25c8d555-4ae8-471c-9bd2-8a1328a8e9fd",
              "name": "response",
              "value": "={{ $('Question and Answer Chain').item.json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        208
      ],
      "id": "7094553b-121f-4151-a60c-0a99d158a242",
      "name": "Chat Output"
    },
    {
      "parameters": {
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        32,
        48
      ],
      "id": "bbdcd193-febb-4814-bcc5-4c47bf11807b",
      "name": "Retriever (Top-K=10)"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinecone Search (Get Many)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Retriever (Top-K=10)",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Search (Get Many)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Embeddings (Search)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Search (Get Many)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "LLM-as-a-Judge Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM-as-a-Judge Evaluation": {
      "main": [
        [
          {
            "node": "Extract Evaluation Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Evaluation Metrics": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "Retriever (Top-K=10)": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "71b1f8bb-ace3-4b5f-94d6-2e9d93656218",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9eec91ab028da3044b893ad93da376fcd67c0d37224cdead88c7c3ba95ce47dc"
  },
  "id": "KSZ2qyQhb2h3ke4I",
  "tags": []
}